# HBuilderX
unpackage/
.hbuilderx/

# 资源文件（需要手动添加）
static/pixelfreeAuth.lic
src/main/assets/filter_model.bundle
nativeplugins/PixelFreeModule/android/libs/
nativeplugins/PixelFreeModule/ios/*.framework

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 临时文件
*.tmp
*.temp
